{
  "presets": [
    "stage-2"
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ]
    },
    "esm": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    },
    "rollup": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    }
  }
}